@import url('https://fonts.cdnfonts.com/css/golden-harvest');   
p{
    font-family: 'Golden Harvest', sans-serif;
   font-size: x-large;
}
/* id botao*/
.botao1 {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.botao2 {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.botao3 {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.botao4 {
    transition: background-color 0.5s ease-in-out;
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* funcao de esconder botao*/
#botao1:hover {
    background-color: #FF3385;
}
#botao2:hover {
    background-color: #FF3385;
}
#botao3:hover {
    background-color: #FF3385;
}
#botao4:hover {
    background-color: #FF3385;
}

